
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="~/Content/images/logos/icon.png" />

    @RenderSection("title", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <!-- Font Icon -->
    <link href="~/Content/material-icon/css/material-design-iconic-font.css" rel="stylesheet" />

    <!-- Main css -->
    <link href="~/Content/register.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        @RenderBody()
    </div>

    <!-- JS -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")


    @*<script src="js/main.js"></script>*@

    @RenderSection("scripts", required: false)
</body>
</html>