@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">


        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Ustawienia <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li class="dropdown-header"> Profil</li>
                <li> @Html.ActionLink("Mój profil", "Details", "Profile", new { userName = User.Identity.GetUserName() }, null) </li>
                <li> @Html.ActionLink("Spam", "Index", "Spam", new { }, null) </li>

                @if (User.IsInRole("Admin"))
                {
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Admin </li>
                    @Html.ActionLink("Stwórz forum", "CreateForum", "Forum")
                    @Html.ActionLink("Lista użytkowników", "GetUsers", "Profile")

                }

            </ul>
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>



    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
