@model Translate.ViewModels.Components.QuestionViewModel



<div class="row questionRecord">
    <div class="col-md-3" style="width:auto">
        <div class="forumLogo" style="background-image:url(@Model.LanguageFrom.ImageUrl);"></div>
        <div class="forumLogo">
            <span class="arrow arrow-medium arrow-black"> 	&#129122;</span>
        </div>
        <div class="forumLogo" style="background-image:url(@Model.LanguageTo.ImageUrl);"></div>
    </div>

    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12">
                <div class="postTitle">
                    @Html.ActionLink(Model.Title, "Question", "Forum", new { questionId = Model.Id, langFrom = Model.LanguageFrom.Abbreviation, langTo = Model.LanguageTo.Abbreviation }, null)
                </div>
            </div>
            <div class="col-md-12">
                <div class="postSubTitle">
                    <span class="postUser">
                        dodano przez  @Html.ActionLink(Model.AuthorName, "Details", "Profile", new { userName = Model.AuthorName }, null)
                    </span>
                    @if (Model.AnswersCount == 1)
                    {
                        <span> @Model.AnswersCount Odpowiedź</span>
                    }

                    else if (Model.AnswersCount == 0)
                    {
                        <span> Nikt jeszcze nie odpowiedział</span>
                    }
                    else if(Model.AnswersCount>1)
                    {
                        <span> @Model.AnswersCount Odpowiedzi</span>
                    }

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2">
        dodano <abbr class=”timeago” title=”@Model.DatePosted”>@Model.DatePosted</abbr> temu

    </div>
</div>
