@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

@model  Translate.ViewModels.LoginViewModel

@section title
{
    <title>Logowanie</title>
}
<!-- Sing in  Form -->
<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure>
                    <img src="~/Content/images/background/signup-image.jpg" />
                </figure>
                @Html.ActionLink("Stwórz konto", "Register", null, new { @class = "signup-image-link" })
            </div>

            <div class="signin-form">
                <h2 class="form-title">Zaloguj się</h2>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "register-form", id = "login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "", id = "email", placeholder = "Twoje imię" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="password"><i class="zmdi zmdi-lock"></i></label>
                        @Html.PasswordFor(m => m.Password, new { @class = "", id = "password", placeholder = "Hasło" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "agree-term" })
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Zapamiętaj mnie</label>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Zaloguj" />
                    </div>

                }


                <div class="social-login">
                    <span class="social-label">Lub zaloguj się z</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

