@model Translate.ViewModels.Components.ReplyViewModel

<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            <div class="forumLogo" style="background-image: url(@Model.LanguageFrom.ImageUrl); background-size:100%"></div>
            <div class="forumLogo" style="background-image: url(@Model.LanguageTo.ImageUrl); background-size:100%"></div>

            <span id="headingBtn"><a asp-controller="Forum" asp-action="Topic" asp-route-id="" class="btn btn-back">Powrót </a></span>
        </div>
    </div>
    <div class="row questionContentReplyHeader">
        <div class="replyOriginalPost">
            <h3>
                @Model.QuestionTitle
            </h3>
            <p>
                @Model.QuestionContent
            </p>
        </div>
    </div>
    <div class="row">
        <div class="createPostSection">
            <div class="authorBlock">
                @*You're submitting this Reply as <span class="authorBlockName">@Model.AuthorName</span>*@
            </div>
            @using (Html.BeginForm("EditAnswer", "Forum", FormMethod.Post, new { id = "addPostForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">

                    @Html.LabelFor(m => m.ReplyContent)
                    @Html.TextAreaFor(m => m.ReplyContent, new { @class = "form-control", rows = "20", placeholder = "Napisz swoje tłumaczenie" })
                    @Html.ValidationMessageFor(m => m.ReplyContent, "", new { @class = "text-danger" })

                </div>
                <button type="submit" id="registerBtn" class="btn btn-submitPost">Zapisz zmiany</button>
                @Html.HiddenFor(m => m.LanguageFrom);
                Html.HiddenFor(m => m.LanguageTo);
                @Html.HiddenFor(m => m.Created);
                @Html.HiddenFor(m => m.QuestionId);
                @Html.HiddenFor(m => m.AuthorId);


            }

        </div>
    </div>
</div>
